<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Gestión Lista Estudiantes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panel header="Lista Estudiantes SE">
                <h:panelGrid columns="2" id="hpgDatos">
                    <p:outputLabel value="Nombre:" />
                    <p:outputLabel  value="#{listaEstudiantesController.temp.dato.nombre}"/>
                    <p:outputLabel value="Edad:" />
                    <p:outputLabel value="#{listaEstudiantesController.temp.dato.edad}" />

                </h:panelGrid>
                <h:panelGrid columns="4">
                    <p:commandButton value="Primero" update="hpgDatos"
                                     action="#{listaEstudiantesController.irAlPrimero()}"/>  
                    
                    <p:commandButton value="Anterior" disabled="true"/>
                    <p:commandButton value="Siguiente" update="hpgDatos"
                                     action="#{listaEstudiantesController.irAlsiguiente()}"/>
                    <p:commandButton value="Último" update="hpgDatos"
                                     action="#{listaEstudiantesController.irAlUltimo()}"/>
                    <p:commandButton value="Eliminar" update="hpgDatos,result"
                                     action="#{listaEstudiantesController.eliminarNodo()}"/>
                    <p:commandButton value="Invertir" update="hpgDatos,result"
                                     action="#{listaEstudiantesController.invertirLista()}"/> 
                    <p:commandButton value="Impares-Pares" update="result"
                                     action="#{listaEstudiantesController.imparPar()}"/> 
                                       
                </h:panelGrid>
               
                <h:panelGroup id="hpgCrear">
                    <p:commandButton value="Nuevo"  update="hpgCrear,result" 
                                     rendered="#{!listaEstudiantesController.verNuevo}"
                  action="#{listaEstudiantesController.verCrearEstudiante()}"/>
                    
                    
                        
                    <p:panel header="Crear Estudiante" 
                             rendered="#{listaEstudiantesController.verNuevo}" >
                        <p:outputLabel value="Nombre:" />
                        <p:inputText value="#{listaEstudiantesController.estudianteAdicionar.nombre}"/>
                        <p:outputLabel value="Edad:" />
                        <p:inputText value="#{listaEstudiantesController.estudianteAdicionar.edad}"/>
                        <br/>
                        <p:commandButton value="Adicionar al inicio" update="@all"
                                         action="#{listaEstudiantesController.adicionarAlInicio()}"/>
                        <p:commandButton value="Adicionar al Final" update="@all"
                                         action="#{listaEstudiantesController.adicionarAlFinal()}"/>
                    </p:panel>

                </h:panelGroup>
                
                <h:panelGroup id="hpgEliminar">
                    <p:commandButton value="Eliminar Posicion" update="hpgEliminar" action="#{listaEstudiantesController.verEliminarEstudiantes()}"
                                     rendered="#{!listaEstudiantesController.verNuevo}"/>
                    <p:panel header="Eliminar posicion"
                             rendered="#{listaEstudiantesController.verNuevo}">
                        <p:outputLabel value="Ingrese posicion a eliminar"/>
                        <p:inputText value="#{listaEstudiantesController.lista.posicion}"/>
                        <p:commandButton value="Eliminar" update="@all" action="#{listaEstudiantesController.eliminarPosicion()}"/>
                                     
                                       
                    </p:panel>
                             
                </h:panelGroup>
                <p:commandButton value="Ordeanr" 
                                    action="#{listaEstudiantesController.encontrarEdad()}" update="hpgDatos"/>
                
                <br></br>
                <p:outputLabel id="result" value="#{listaEstudiantesController.mostrarResultado}"/>
                
            </p:panel>
                        


        </h:form>
    </h:body>
</html>
